<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

<head>
    {%- include head.html -%}
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/main.css?v=' | append: site.github.build_revision | relative_url }}">
</head>

<body>

    <nav id="navigationBar">
        <div class="wrapper">
            <a class="site-title" href="{{ '/' | relative_url }}">Alexandru Sana</a>
            
            <ul class="nav-links">
                <li><a href="{{ '/projects/' | relative_url }}" {% if page.url contains '/projects/' %}class="active"{% endif %}>Projects</a></li>
                <li><a href="{{ '/blog/' | relative_url }}" {% if page.url contains '/blog/' %}class="active"{% endif %}>Blog</a></li>
                <li><a href="{{ '/resume/' | relative_url }}" {% if page.url contains '/resume/' %}class="active"{% endif %}>Resume</a></li>
            </ul>
            
            <div class="header-social">
                <a href="mailto:alexandrusana1@gmail.com" target="_blank" rel="noopener" aria-label="E-mail">
                    <img src="/assets/images/gmail.svg" alt="E-mail"/>
                </a>
                <a href="https://linkedin.com/in/{{ site.minima.social_links.linkedin }}" target="_blank" rel="noopener" aria-label="LinkedIn">
                    <img src="/assets/images/linkedin.svg" alt="LinkedIn"/>
                </a>
                <a href="https://github.com/{{ site.minima.social_links.github }}" target="_blank" rel="noopener" aria-label="GitHub">
                    <img src="/assets/images/github.svg" alt="GitHub"/>
                </a>
                <a href="https://alexstn.itch.io/" target="_blank" rel="noopener" aria-label="itch.io">
                    <img src="/assets/images/itchio.svg" alt="itch.io"/>
                </a>
                
            </div>
        </div>
    </nav>

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

</body>

</html>